<!DOCTYPE HTML>
<html>
  <head>
    <title>cmdparse: {title:}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Advanced Ruby command line parser supporting nested commands" />
    <meta name="keywords" content="ruby, CLI, command parser, command suite, option parser" />
    <link href="{relocatable: default.css}" rel="stylesheet" />
  </head>
  <body class="left-sidebar">
    <div id="wrapper">
      <div id="titleBar">
        <a id="sidebar-show" href="#titleBar" class="toggle"></a>
        <a id="sidebar-hide" href="#" class="toggle"></a><span class="title">cmdparse</span>
      </div>

      <div id="content">
        <div class="inner">
          <article class="box post">
            <webgen:block name="content" />
          </article>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <h1 id="logo"><a href="{relocatable: /}">cmdparse</a><br /><span>v 3.0.1</span></h1>

        <!-- Nav -->
        <nav id="nav">
          {menu: {options: {mi: {in_menu: true}, sort: true, absolute_levels: [0, 1]},
                  item_submenu_inhierarchy_class: current, item_selected_class: current}}
        </nav>

        <!-- Text -->
        <section class="box text-style1">
          <div class="inner">
            <p>
              <strong>cmdparse:</strong> An advanced Ruby command line parser supporting nested
              commands
            </p>
          </div>
        </section>

        <!-- Copyright -->
        <ul id="copyright">
          <li itemscope="" itemtype="http://schema.org/Person">&copy; 2004-2015
            <span itemprop="name">Thomas Leitner</span>
            <meta itemprop="email" content="t_leitner@gmx.at" />
            <meta itemprop="url" content="http://gettalong.org" />
          </li>
          <li>Generated by <a href="http://webgen.gettalong.org">webgen</a><br /> on <b>{date: }</b></li>
          <li>Design based on<br />Striped by <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

      </div>

    </div>

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
      var sc_project=10338773;
      var sc_invisible=1;
      var sc_security="7779f3af";
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
    <noscript><div class="statcounter">
        <a title="free hit counters" href="http://statcounter.com/" class="statcounter">
          <img class="statcounter" src="http://c.statcounter.com/10338773/0/7779f3af/1/" alt="free hit counters" />
        </a>
    </div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
